body{
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
}
.moon{
  text-decoration: none;
  padding-right: 1%;
}

.icon-menu{
 /*color: orange;
 float: right;
 font-size: 5.2em;
 margin-right: 3%;*/
}
/*img{
  border: 2px solid black;
}*/
.header {
  border: 2px solid #03a9f4;
  color: white;
  max-width: 100%;
  width:70%;
  height: auto;
  margin: 0 auto;
  background: #03a9f4;
  padding-bottom: 2%
  padding-top: 2%;
}

.header a{
  color: white;
}

.header .icon-menu{
  display: none;
}

nav{
      width: auto;
      height: auto;
      background: white;
      border: 1px solid white;
      margin: 0 auto;
}
nav ul li{
    display: inline;
    padding-left: 15%;
    /*text-align: center;*/
    position: relative;
    /*left: 25%;*/
    /*margin: 0 auto;*/
}
nav ul li .moon{
  color: #03a9f4;
  list-style: none;


}
/*.nav h3{
  text-align: center;

    color: #03a9f4;
}*/
/*.navItem{
  padding-right: 1%;
  text-decoration: none;
}*/

.nav h3 a {
      color: #03a9f4;
}

h1, h5, h2, li{
  text-align: center;
  letter-spacing: .5px;
}
h1, h5, .navItem{
  font-weight: 300;
}
.about{
    letter-spacing: .5px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    font-weight: 300;
}


.contentContainer{
  background: #03a9f4;
  border: 2px solid #03a9f4;
  /*border: 1px solid white;*/
  color: white;
  width:70%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 2%;
}


.examples{
  height: auto;
  width:50%;
  margin: 0 auto;
  display: block;
  padding: 5px;
  background: white;
}

.contentTitle{
  width: auto;
  margin: 0 auto;
}

.contentTitle h2{
  /*background: #9c2778;*/
  /*background: #c61aff;*/
  background: white;
  font-weight: 400;
  color: #03a9f4
}

 .sampleSites{
  color: white;
  padding: 5px;
  border: 2px solid white;
  width: 40%;
  margin: 0 auto;
  font-weight: 300;
 }

.footer{
  width:70%;
  max-width: 100%;
  padding: 2em 0;
  margin: 0 auto;
  background: #03a9f4;
  text-align: center;
  color: white;
  border-left: 2px solid #03a9f4;
  border-right: 2px solid #03a9f4;
  border-top: 2px solid white;
}

@media (max-width: 768px){
  h5{
    font-weight: 300;
  }

  .examples{
    width: 80%;
    max-width: 100%;
  }

  .sampleSites{
    font-size: 1em;
    font-weight: 300;
  }

  .header, .contentContainer, .footer{
    width: 90%;
    max-width: 100%;
  }



.exp-nav .icon-menu{
  color: white;
  position: absolute;
  right: 6%;
  top: 7%;
  display: block;
  /*font-size: 2.2em;*/
}

nav:hover ul{
   display: block;
   position: absolute;
   right: 5%;
   top: 4%;
   z-index: 99;
   background: white;
   height: auto;
   padding: 3% 5%;
   width: auto;
   border: 1px solid blue;

}

.exp-nav li{
  display: block;
  position: relative;
  padding-bottom: 25%;
}

.exp-nav li:hover a{
  border-bottom: 2px solid #03a9f4;
}
nav ul {
  display: none;
}

  .contentTitle{
    font-size: .75em;
  }

  .about{
    letter-spacing: .5px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 300;
  }
}
