body{
  font-family: 'Roboto', sans-serif;
}



.header {
  border: 1px solid #03a9f4;;
  color: white;
  max-width: 100%;
  width:70%;
  height: auto;
  margin: 0 auto;
  background: #03a9f4;
    padding-bottom: 2%
    padding-top: 2%;
}

.header a{
  color: white;
    /*text-align: center;*/
      /*margin: 0 auto;*/
}

.nav{

      width: auto;
      height: auto;
      /*margin: 0 auto;*/
      background: red;

}
.nav h2{
  text-align: right;
  /*border: 1px solid white;*/
    border: 1px solid #03a9f4;;
}
.navItem{
  padding-right: 5%;
  text-decoration: none;

}

h1, h5, h2, li{
  text-align: center;
  letter-spacing: .5px;
}

.about{
    letter-spacing: .5px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}


.contentContainer{
  background: #03a9f4;
  border: 2px solid white;
  color: white;
  width:70%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}


.examples{
  height: auto;
  width:50%;
  margin: 0 auto;
  display: block;
  padding-top: 5px;
    border: 1px solid #03a9f4;;

}

.contentTitle{
    width: auto;
    height: auto;
    margin: 0 auto;
    background: red;

}

 .workContainer{
  color: white;
  padding-top: 10px;
  width: 40%;
  margin: 0 auto;
  font-weight: 300;
  margin-top: 5%

 }
.footer{
  width:70%;
  max-width: 100%;
  padding: 2em 0;
  margin: 0 auto;
  background: #03a9f4;
  text-align: center;
  color: white;
}

@media screen and (max-width: 768px){

.examples{
  width: 80%;
  max-width: 100%;
}

.workContainer{
  font-weight: normal;
  background: green;
}

.header, .contentContainer, .footer{
  width: 80%;
  max-width: 100%;
}
}
